<div class="to-do-list-container">
  <form>
    <input type="text" class="todo-input" [(ngModel)]="newToDo.title" name="newToDo">
    <button type="submit" (click)="addToDo()">Add To Do</button>
  </form>
  <hr>
  <div class="to-do-list">
    <div class="list">
      <div *ngFor="let todo of todoList">
        <input type="checkbox" [checked]="todo.isCompleted">
        <a
          href="javascript:void(0)"
          (click)="showToDoDetails(todo)"
          [ngClass]="{'completed': todo.isCompleted}">
          {{ todo.title }} ›
          <sub *ngIf="todo.dueDate">{{todo.dueDate}}</sub>
        </a>
      </div>
    </div>
    <div class="details" *ngIf="selectedToDo" >
      <app-todo-detail [todo]="selectedToDo" (removed)="removeToDo($event)" ></app-todo-detail>
    </div>
  </div>
</div>
