<div class="to-do-list-container">
  <form class="new-todo">
    <mat-form-field [floatLabel]="'never'" class="field-new-todo">
      <input matInput  [(ngModel)]="newToDo.title" class="todo-input" name="newToDo" placeholder="New To Do...">
    </mat-form-field>
    <button mat-flat-button color="primary" class="button-new-todo" type="submit" (click)="addToDo()">Add To Do</button>
  </form>
  <div class="to-do-list">
    <div class="list">
      <mat-action-list class="list-item"  *ngFor="let todo of todoList">
        <mat-checkbox [(ngModel)]="todo.isCompleted" (change)="onToDoChange(todo)" ></mat-checkbox>
        <button mat-list-item class="list-item-button" [ngClass]="{'completed': todo.isCompleted}" (click)="showToDoDetails(todo)">
          <h4 mat-line>{{todo.title}}</h4>
          <p mat-line class="demo-2"> {{todo.dueDate | date}} </p>
        </button>
      </mat-action-list>
    </div>
    <div class="details" *ngIf="selectedToDo" >
      <app-todo-detail [todo]="selectedToDo" (removed)="removeToDo($event)" ></app-todo-detail>
    </div>
  </div>
</div>
